
Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:

    First get the webpage https://www.naukri.com/
    Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
    Then click the search button.
    Then scrape the data for the first 10 jobs results you get.
    Finally create a dataframe of the scraped data.

In [1]:
# import necessary librabies for webscraping with selenium

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [3]:
#open the naukri page in automated chrome browser

driver.get("https://www.naukri.com/")

In [4]:
# Enter required designation and location for Data Analyst

#Enter “Data Analyst” in “Skill, Designations, Companies” field

des= driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
des.send_keys("Data Analyst")

# Enter “Bangalore” in “enter the location” field

loc= driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys("Bangalore")

In [5]:
#click the search button

search= driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [6]:
# lets make empty list to store data with the given conditions

title= []
location=[]
company=[]
experience=[]

In [7]:
# Scraping first 10 job title from the given page

title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    title.append(x) 

# Scraping first 10 job location from the given page

loc_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags[0:10]:
    x= i.text
    location.append(x)
    
# Scraping first 10 company name the given page

com_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    x= i.text
    company.append(x)

# Scraping first 10 experience from the given page

exp_tags=  driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    x= i.text
    experience.append(x)

In [8]:
#checking the length

print (len(title), len(location), len(company), len(experience))

10 10 10 10

In [9]:
# Creating DataFrame to scrap first 10 data

data_list= list(zip(title, location, company,experience ))

data= pd.DataFrame(data_list, 
    columns =['Job_Title', 'Job_Location', 'Company_Name', 'Experience_Required'],
    index=pd.RangeIndex(start=1, stop=(len(title)+1), name='Sr. No.'))

print ("First 10 Data Analyst jobs data from Naukri is:\n")
data

First 10 Data Analyst jobs data from Naukri is:

,Job_Title,Job_Location,Company_Name,Experience_Required
Sr. No.,,,,
1,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
2,Data Analyst,"Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",4-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
4,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
5,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
6,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
7,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
8,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
9,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
10,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [10]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [11]:
# #opening the naukri page in automated chrome browser
driver.get("https://www.naukri.com/")

In [12]:
#  Lets enter required designation and location for Data Scientist
designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [13]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div[1]/input")
location.send_keys('Bangalore')

In [14]:
# click the search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [15]:
# lets make empty list to store data with the given conditions

job_title= []
job_location=[]
company_name=[]

In [16]:
# Scraping first 10 job title from the given page

title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    job_title.append(x)

In [17]:
# Scraping first 10 job location from the given page

location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    loc= i.text
    job_location.append(loc)

In [18]:
# Scraping first 10 company names from the given page

company_tags= driver.find_elements(By.XPATH,'//a[@ class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    x= i.text
    company_name.append(x)

In [19]:
print(len(job_title), len(job_location), len(company_name))

10 10 10

In [20]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name})

In [21]:
df

,job_title,job_location,company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
4,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart
9,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro

Q3: In this question you have to scrape data using the filters available on the webpage as shown below

You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakh

In [23]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [24]:
driver.get("https://www.naukri.com/")

In [25]:
# Lets enter required designation and location for Data Scientist
designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [26]:
# clicking search

search= driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [27]:
# select location filter as “Delhi/NCR”

location_filter = driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]')
location_filter.click()

In [28]:
# select salary filter as “3-6” lakhs

salary_filter = driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]')
salary_filter.click()

In [29]:
# lets make empty list to store data with the given conditions

title= []
location=[]
company=[]

In [30]:
# Scraping first 10 job title from the given page

title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    title.append(x)

In [31]:
# Scraping first 10 job location from the given page

loc_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags[0:10]:
    x= i.text
    location.append(x)

In [32]:
# Scraping first 10 company name the given page

com_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    x= i.text
    company.append(x)

In [33]:
print(len(title), len(location), len(company))

10 10 10

In [34]:
df=pd.DataFrame({'job_title':title,'job_location':location,'company_name':company})

In [35]:
df

,job_title,job_location,company_name
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group
2,Data Scientist,Gurgaon/Gurugram,IHS Markit
3,Data Scientist,Gurgaon/Gurugram,Optum
4,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz
5,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring
6,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International
7,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions
8,Data Scientist,Noida,NGI Ventures
9,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1.Brand
2.Product Description
3.Price The attributes which you have to scrape is ticked marked in the below image.
.To scrape the data you have to go through following steps:

1.Go to Flipkart webpage by url : https://www.flipkart.com/
2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3.After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual
4.After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5.Now scrape data from this page as usual
6.Repeat this until you get data for 100 sunglasses.

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [6]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [7]:
#Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [8]:
popup= driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")

popup.click()

In [9]:
#Lets enter “sunglasses” in the search field where “search for products, brands and more” is written

des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

des.send_keys("Sunglasses")

In [10]:
# click the search icon

search= driver.find_element(By.CLASS_NAME, "_34RNph")
search.click()

In [11]:
#Scrap the required data 1. Brand, 2. Product Description, 3. Price, 4.Discount

brand_name=[]
product_description=[]
price=[]

In [12]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=1
end=4
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    next_button.click()
    time.sleep(8)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [13]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [14]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=1
end=4
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [15]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [16]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        x= i.text
        price.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [17]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [20]:
#checking the length

print (len(Top100_brand_name), len(Top100_product_description), len(Top100_price))

100 100 100

In [21]:
# Creating DataFrame to scrap first 10 data

data_list= list(zip(Top100_brand_name, Top100_product_description, Top100_price))

data= pd.DataFrame(data_list, 
    columns =['Brand_Name', 'Product Description', 'Price'],
    index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'))

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 sunglasses listings on flipkart.com:\n")
data

First 100 sunglasses listings on flipkart.com:

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:

First get the webpage https://www.flipkart.com/
Enter “iphone 11” in “Search” field .
Then click the search button. You will reach to the below shown webpage . As shown in the above page you have to scrape the tick marked attributes.These are:
Rating
Review summary
Full review
You have to scrape this data for first 100 reviews.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#Lets first connect to the driver

#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [3]:
#Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [4]:
# close the popup window

popup_close = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
popup_close.click()

In [5]:
# lets Enter “iphone 11” in “Search” field

des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
des.send_keys("iphone 11")

In [6]:
#click on search 

search= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [7]:
#click the first results from all iphone 11 data

click_first = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]')
click_first.click()

In [8]:
# as the result open up in new tab of the browser we need to go that tab

driver.switch_to.window(driver.window_handles[1])

In [9]:
#clicking on the all reviews button

all_rev = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div/span')
all_rev.click()

In [10]:
#Scrap the required data Rating, Review summary, Full review

ratings=[]
review_summary=[]
full_review=[]

In [11]:
# Scraping first 100 Ratings the given page

start = 0 #starting page
end = 10 # page number to end scaping


for page in range(start,end):
    
    #scrape the ratings
    
    rating_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        x= i.text
        ratings.append(x)
        
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [12]:
len(ratings)

100

In [13]:
# Scraping first 100 Review summary the given page

start = 0 #starting page
end = 10 # page number to end scaping


for page in range(start,end):
    
    # scrape the review summaries
    
    review_sum_tags = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_sum_tags:
        x= i.text
        review_summary.append(x)    
    
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [14]:
len(review_summary)

100

In [15]:
# Scraping first 100 full review the given page

start = 0 #starting page
end = 10 # page number to end scraping


for page in range(start,end):
    
    # scrape the full reviews
    
    full_review_tags = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tags:
        x= i.text
        full_review.append(x.replace("\n"," "))
        
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [16]:
len(full_review)

100

In [17]:
# Creating DataFrame to scrap first 10 data

data_list= list(zip(ratings, review_summary, full_review))

data= pd.DataFrame(data_list,
    columns =['Ratings', 'Review Summary', 'Full Summary'],
    index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'))

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 reviews data from flipkart.com for iphone11 phone:\n")
data

First 100 reviews data from flipkart.com for iphone11 phone:

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

1. Brand
2. Product Description
3. Price As shown in the below image, you have to scrape the tick marked attributes

In [18]:
#Lets first connect to the driver

#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [19]:
#Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [20]:
# close the popup window

popup= driver.find_element(By.XPATH, "/html/body/div[2]/div/div/button")
popup.click()

In [21]:
# lets Enter “iphone 11” in “Search” field

des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

des.send_keys("sneakers")

In [22]:
#click on search button

search= driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [23]:
#Scrap the required data Brand, Product Description, Price, Discount (as shown in the given picture)

brand_name=[]
product_description=[]
price=[]
discount=[]

In [24]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
    
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [25]:
len(brand_name)

120

In [26]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [27]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
        
    
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [28]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [29]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        x= i.text
        price.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [30]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [31]:
# Scraping first 100 Discount from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in price_tags:
        x= i.text
        discount.append(x) 
        
    # Go to the “Next” Button at the bottom other page and scrap data
     
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_discount = discount[0:100] #Top 100 data

In [32]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [33]:
# Creating DataFrame of first 100 scrapped data

list_data= list(zip(Top100_brand_name, Top100_product_description, Top100_price, Top100_discount))

data= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'),
        columns =['Brand_Name','Product Description', 'Price', 'Discount'])

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 sneakers data from Flipkart is:\n")
data

First 100 sneakers data from Flipkart is:

Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [34]:
#Lets first connect to the driver

#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [35]:
#Go to Flipkart webpage by url: https://www.myntra.com/shoes

driver.get(" https://www.myntra.com/shoes")

In [37]:
#apply second price filter 

price_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [38]:
#apply Color filter to “Black”

color_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter.click()

In [39]:
#Scrap the required data Brand, Product Description, Price

brand_name=[]
product_description=[]
price=[]

In [40]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [41]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
prev_button.click()

In [42]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
        
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [43]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
prev_button.click()

In [44]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price_tags:
        x= i.text
        price.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [45]:
print(len(Top100_brand_name), len(Top100_product_description), len(Top100_price))

100 100 100

In [46]:
# Creating DataFrame of first 100 scrapped data

list_data= list(zip(Top100_brand_name, Top100_product_description, Top100_price))

data= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'),
        columns =['Brand_Name','Product Description', 'Price'])

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 sneakers data from Flipkart is:\n")
data

First 100 sneakers data from Flipkart is:

8: Go to webpage https://www.amazon.in/. Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

   1. Title
   2.Ratings
   3. Price

In [47]:
#Lets first connect to the driver

#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [48]:
#Go to Flipkart webpage by url: https://www.amazon.in/

driver.get("https://www.amazon.in/")

In [49]:
# Lets enter Laptop in the search field and then click the search icon.

des= driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
des.send_keys("Laptop")

In [50]:
# click the search button

search= driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [51]:
# select cpu filter

cpu_filter_i7 = driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
cpu_filter_i7.click()

In [52]:
#Scrap the required data

title=[]
ratings=[]
price=[]

In [53]:
#title of the laptops

#title_tags= driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
title_tags = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags[0:10]:
    x= i.text
    title.append(x)

In [54]:
#ratings 
rating_tags=driver.find_elements(By.XPATH,"//a[@class='a-popover-trigger a-declarative']")

for i in rating_tags[0:10]:
    if i.text is None:
        ratings.append("--")
    else:
        ratings.append(i.get_attribute("text"))

In [55]:
#prices of the laptops

price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    x= i.text
    price.append(x)

In [56]:
# Creating DataFrame of first 10 scrapped data

list_data= list(zip(title, ratings, price))

data= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=11, name='Sr. No.'),
        columns =['Title_of_Laptop', 'Ratings', 'Price'])

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 10 laptop's data from Amazon is:\n\n")
data

First 10 laptop's data from Amazon is: