# WEBSCRAPING - ASSIGNMENT 4

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views
2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.
3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.
4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.
5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code.
6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.
7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code
8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist 
D) Upload date
E) Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,InvalidArgumentException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import re
import requests

import time

In [2]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [3]:
# opening site
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:


# creating empty list to store data
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [5]:


# scraping whole data in one step 
rank = [] # to store whole data then i will separate them
try:
    for i in driver.find_elements(By.XPATH,'//td')[2:]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

In [6]:


# extracting rank from the list contining whole info
Rank = rank[0::6][0:30]

In [7]:


# extractin name of video
Name = rank[1::6][0:30]

In [8]:


# extracting Artist Name
Artist = rank[2::6][0:30]

In [9]:


# extracting views
Views = rank[3::6][0:30]

In [10]:
# extracting upload date
Upload_date = rank[4::6][0:30]

In [11]:
# creating dataframe
df = pd.DataFrame({"RANK":Rank,"VIDEO NAME":Name,"ATRIST":Artist,"VIEWS(BILLIONS)":Views,"UPLOAD DATE":Upload_date},index=list(range(1,len(Upload_date)+1)))
print("Most viewed videos on YouTube from Wikipedia")
df

Most viewed videos on YouTube from Wikipedia

,RANK,VIDEO NAME,ATRIST,VIEWS(BILLIONS),UPLOAD DATE
1,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.58,"June 17, 2016"
2,2.,"""Despacito""[6]",Luis Fonsi,7.99,"January 12, 2017"
3,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.50,"October 8, 2016"
4,4.,"""Shape of You""[13]",Ed Sheeran,5.83,"January 30, 2017"
5,5.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,5.68,"May 2, 2018"
6,6.,"""See You Again""[16]",Wiz Khalifa,5.68,"April 6, 2015"
7,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.96,"March 6, 2014"
8,8.,"""Uptown Funk""[22]",Mark Ronson,4.73,"November 19, 2014"
9,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.69,"February 27, 2018"
10,10.,"""Gangnam Style""[24]",Psy,4.58,"July 15, 2012"
11,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,4.51,"January 31, 2012"
12,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.50,"May 24, 2018"
13,13.,"""Dame Tu Cosita""[31]",El Chombo,4.11,"April 5, 2018"
14,14.,"""Sugar""[32]",Maroon 5,3.77,"January 14, 2015"
15,15.,"""Roar""[33]",Katy Perry,3.67,"September 5, 2013"
16,16.,"""Counting Stars""[34]",OneRepublic,3.67,"May 31, 2013"
17,17.,"""Sorry""[35]",Justin Bieber,3.60,"October 22, 2015"
18,18.,"""Axel F""[36]",Crazy Frog,3.56,"June 16, 2009"
19,18.,"""Thinking Out Loud""[37]",Ed Sheeran,3.51,"October 7, 2014"
20,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,3.41,"June 25, 2018"
21,21.,"""Dark Horse""[39]",Katy Perry,3.37,"February 20, 2014"
22,22.,"""Faded""[40]",Alan Walker,3.36,"December 3, 2015"
23,23.,"""Girls Like You""[41]",Maroon 5,3.34,"May 31, 2018"
24,24.,"""Let Her Go""[42]",Passenger,3.32,"July 25, 2012"
25,25.,"""Bailando""[43]",Enrique Iglesias,3.29,"April 11, 2014"
26,26.,"""Perfect""[44]",Ed Sheeran,3.28,"November 9, 2017"
27,27.,"""Lean On""[45]",Major Lazer,3.28,"March 22, 2015"
28,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.27,"June 4, 2010"
29,29.,"""Shake It Off""[47]",Taylor Swift,3.22,"August 18, 2014"
30,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.19,"January 26, 2018"

In [12]:
driver.close()

Q2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [11]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import ElementClickInterceptedException, NoSuchElementException, StaleElementReferenceException, ElementNotInteractableException
import time
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [12]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [13]:
#get webpage
url=("https://www.bcci.tv/")
driver.get(url)
time.sleep(2)

In [14]:
#clicking on menu
button= driver.find_element(By.XPATH,'//span[@class = "menu-icon__line menu-icon__line-right"]').get_attribute('href')

In [15]:
#selecting International
International= driver.find_element(By.XPATH,'//a[@class = "nav-link "]').click()

In [16]:
#clicking on dropdown
Select= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[1]').click()

In [17]:
#selecting ODI
OdI= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[3]').click()

In [19]:
Match_title= []
Series= []
Place= []
Date= []
Time= []

#scraping Match Title
try:
    Match_title_tag= driver.find_elements(By.XPATH,"//div[@class='fixture-card-top']/h5[2]")
    for i in Match_title_tag:
        Match_title.append(i.text)
except NoSuchElementException as e:
    Match_title.append("--")

#scraping Series
try:
    Series_tag= driver.find_elements(By.XPATH,"//div[@class='fixture-card-bottom']")
    for i in Series_tag:
        Series.append(i.text.split("-")[0])
except NoSuchElementException as e:
    Series.append("--")
    
#scraping Place
try:
    Place_tag= driver.find_elements(By.XPATH,"//div[@class='fixture-card-bottom']")
    for i in Place_tag:
        Place.append(i.text.split("-")[1].replace("\n",","))
except NoSuchElementException as e:
    Place.append("--") 

#scraping Date
try:
    Date_tag= driver.find_elements(By.XPATH,"//div[@class='match-card-left match-schedule']")
    for i in Date_tag:
        Date.append(i.text)
except NoSuchElementException as e:
    Date.append("--")

#scraping Time   
try:
    Time_tag= driver.find_elements(By.XPATH,"//div[@class='match-card-right match-schedule ']")
    for i in Time_tag:
        Time.append(i.text)
except NoSuchElementException as e:
    Time.append("--")

#printing length
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

#creating Dataframe
international_fixtures=pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
international_fixtures

6 6 6 6 6

,Match_title,Series,Place,Date,Time
0,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,1st ODI,"Eden Park, Auckland,Match Centre",25 NOV 2022,7:00 AM IST
1,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,2nd ODI,"Seddon Park, Hamilton,Match Centre",27 NOV 2022,7:00 AM IST
2,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,3rd ODI,"Hagley Oval, Christchurch,Match Centre",30 NOV 2022,7:00 AM IST
3,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,1st ODI,"Shere Bangla National Stadium, Mirpur, Dhaka,...",4 DEC 2022,12:30 PM IST
4,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,2nd ODI,"Shere Bangla National Stadium, Mirpur, Dhaka,...",7 DEC 2022,12:30 PM IST
5,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,3rd ODI,"Shere Bangla National Stadium, Mirpur, Dhaka,...",10 DEC 2022,12:30 PM IST


Q3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details:

A) Name 
B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [78]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")
time.sleep(2)

In [79]:
#open the page in automated chrome browser

driver.get("https://www.guru99.com/")
time.sleep(2)

In [80]:
# Selecting Selenium option

selenium=driver.find_element(By.XPATH,'//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]/a')
try:
    selenium.click()
except ElementNotInteractableException:
    driver.get(selenium.get_attribute('href'))

In [81]:
# Selecting Selenium exception

exceptation =driver.find_element(By.XPATH,'//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
try:
    exceptation.click()
    time.sleep(2)
except ElementNotInteractableException:
    driver.get(exceptation.get_attribute('href'))
    time.sleep(2)

In [82]:
# Creating Empty list to store all the scrapped result
name =[]
description=[]

In [83]:
# Extracting name and description of exception
all_info=[]
try:
    all_tags =driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')
    for i in all_tags:
        all_info.append(i.text.split(":"))
except NoSuchElementException:
    all_info.append('--')
all_info1= all_info[:41]

jj=[]
for i in all_info1:
    for j in i:
        jj.append(j)
        

for i in range(0, len(jj)):
    if i % 2 ==0:
        name.append(jj[i])

for i in range(0, len(jj)):
    if i % 2 ==1:
        description.append(jj[i])

In [84]:
print(len(name))
print(len(description))

41
41

In [85]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,description ))

data= pd.DataFrame(data_list, 
    columns =['Name','Description'],
    index=pd.RangeIndex(start=1, stop=42, name='Sr. No.'))

#Print the required data

print ("Details of selenium exception from guru99.com:\n")
data

Details of selenium exception from guru99.com:

,Name,Description
Sr. No.,,
1,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
2,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
3,3. NoSuchElementException,This Exception occurs if an element could not...
4,4. NoSuchFrameException,This Exception occurs if the frame target to ...
5,5. NoAlertPresentException,This Exception occurs when you switch to no p...
6,6. NoSuchWindowException,This Exception occurs if the window target to...
7,7. StaleElementReferenceException,This Selenium exception occurs happens when t...
8,8. SessionNotFoundException,The WebDriver is acting after you quit the br...
9,9. TimeoutException,Thrown when there is not enough time for a co...
10,10. WebDriverException,This Exception takes place when the WebDriver...
11,11. ConnectionClosedException,This type of Exception takes place when there...
12,12. ElementClickInterceptedException,The command may not be completed as the eleme...
13,13. ElementNotInteractableException,This Selenium exception is thrown when any el...
14,14. ErrorInResponseException,This happens while interacting with the Firef...
15,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
16,16. ImeActivationFailedException,This expectation will occur when IME engine a...
17,17. ImeNotAvailableException,It takes place when IME support is unavailable.
18,18. InsecureCertificateException,Navigation made the user agent to hit a certi...
19,19. InvalidArgumentException,It occurs when an argument does not belong to...
20,20. InvalidCookieDomainException,This happens when you try to add a cookie und...
21,21. InvalidCoordinatesException,This type of Exception matches an interacting...
22,22. InvalidElementStateException,It occurs when command can’t be finished when...
23,23. InvalidSessionIdException,This Exception took place when the given sess...
24,24. InvalidSwitchToTargetException,This occurs when the frame or window target t...
25,25. JavascriptException,This issue occurs while executing JavaScript ...
26,26. JsonException,It occurs when you afford to get the session ...
27,27. NoSuchAttributeException,This kind of Exception occurs when the attrib...
28,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
29,29. NoSuchContextException,ContextAware does mobile device testing.
30,30. NoSuchCookieException,This Exception occurs when no cookie matching...
31,31. NotFoundException,This Exception is a subclass of WebDriverExce...
32,32. RemoteDriverServerException,This Selenium exception is thrown when the se...
33,33. ScreenshotException,It is not possible to capture a screen.
34,34. SessionNotCreatedException,It happens when a new session could not be su...
35,35. UnableToSetCookieException,This occurs if a driver is unable to set a co...
36,36. UnexpectedTagNameException,Happens if a support class did not get a web ...
37,37. UnhandledAlertException,This expectation occurs when there is an aler...
38,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
39,39. UnknownMethodException,This Exception happens when the requested com...
40,40. UnreachableBrowserException,This Exception occurs only when the browser i...
41,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...


Q4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/ 
You have to find following details: 

A) Rank 

B) State

C) GSDP(19-20)

D) GSDP (18-19)

E) Share (18-19

) F) GDP (billion)


Note: - From statisticstimes home page you have to reach to economy page through code

In [86]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")
time.sleep(2)

In [87]:
#open the page in automated chrome browser

driver.get("http://statisticstimes.com/")
time.sleep(2)

In [88]:
# Clicking on ecomony tab

India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/button')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))  
time.sleep(2)

In [89]:


# Clicking on India from economy tab
state = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
driver.get(state.get_attribute('href'))
time.sleep(2)

In [90]:
# Clicking on GDP of Indian state

state = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
driver.get(state.get_attribute('href'))
time.sleep(2)

In [91]:
# Creating empty lists to store all the scrapped result
rank =[]
state =[]
gsdp_19_20=[]
gsdp_18_19 =[]
share_18_19 =[]
GDP =[]

In [92]:

try:
    rank_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank_tags :
        rank.append(i.text)
except NoSuchElementException:
    rank.append('NA')
    
# Extracting state name
try:
    state_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state_tags:
        state.append(i.text)
except NoSuchElementException:
    state.append('NA')
    
# Extracting GDSP 19-20
try:
    gsdp_19_20_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp_19_20_tags:
        gsdp_19_20.append(i.text)
except NoSuchElementException:
    gsdp_19_20.append('NA')
    
# Extracting GDSP 18-19
try:
    gsdp_18_19_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp_18_19_tags:
        gsdp_18_19.append(i.text)
except NoSuchElementException:
    gsdp_18_19.append('NA')
    
# Extracting Share 18_19
try:
    share_18_19_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share_18_19_tags:
        share_18_19.append(i.text)
except NoSuchElementException:
    share_18_19.append('NA')
    
# Extracting GDP
try:
    GDP_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in GDP_tags:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [93]:
print(len(rank))
print(len(state))
print(len(gsdp_19_20))
print(len(gsdp_18_19))
print(len(share_18_19))
print(len(GDP))

33
33
33
33
33
33

In [94]:
# Creating DataFrame for scrapped data

data_list= list(zip(rank, state,gsdp_19_20, gsdp_18_19,share_18_19 , GDP))

data= pd.DataFrame(data_list, 
    columns =['Rank', 'State', 'GSDP_19_20','GSDP_18_19','Share_18_19' , 'GDP'],
                index=pd.RangeIndex(start=1, stop=34, name='Sr. No.'))

#Print the required data

print ("Details of State-wise GDP of India from statisticstime.com:\n")
data

Details of State-wise GDP of India from statisticstime.com:

,Rank,State,GSDP_19_20,GSDP_18_19,Share_18_19,GDP
Sr. No.,,,,,,
1,1,Maharashtra,-,"2,632,792",13.94%,399.921
2,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
3,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
4,4,Gujarat,-,"1,502,899",7.96%,228.290
5,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
6,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
7,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
8,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
9,9,Telangana,"969,604","861,031",4.56%,130.791
10,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
11,11,Kerala,-,"781,653",4.14%,118.733
12,12,Delhi,"856,112","774,870",4.10%,117.703
13,13,Haryana,"831,610","734,163",3.89%,111.519
14,14,Bihar,"611,804","530,363",2.81%,80.562
15,15,Punjab,"574,760","526,376",2.79%,79.957
16,16,Odisha,"521,275","487,805",2.58%,74.098
17,17,Assam,-,"315,881",1.67%,47.982
18,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
19,19,Jharkhand,"328,598","297,204",1.57%,45.145
20,20,Uttarakhand,-,"245,895",1.30%,37.351
21,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
22,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
23,23,Goa,"80,449","73,170",0.39%,11.115
24,24,Tripura,"55,984","49,845",0.26%,7.571
25,25,Chandigarh,-,"42,114",0.22%,6.397
26,26,Puducherry,"38,253","34,433",0.18%,5.230
27,27,Meghalaya,"36,572","33,481",0.18%,5.086
28,28,Sikkim,"32,496","28,723",0.15%,4.363
29,29,Manipur,"31,790","27,870",0.15%,4.233
30,30,Nagaland,-,"27,283",0.14%,4.144
31,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
32,32,Mizoram,"26,503","22,287",0.12%,3.385
33,33,Andaman & Nicobar Islands,-,-,-,-


Q5. Scrape the details of trending repositories on Github.com. Url = https://github.com/You have to find the following details:

A) Repository title 

B) Repository description

C) Contributors count 

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [6]:
#import necessary librabies for webscraping with selenium

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import requests
from time import sleep

In [8]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [9]:
#open the page in automated chrome browser

driver.get("https://github.com/You")
time.sleep(2)

In [10]:
# Clicking on button tab

button =driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
driver.get(button.get_attribute('href'))
time.sleep(2)

In [11]:
# Creating Empty list for Scraping Data
title=[]
description=[]
count =[]
language =[]
url=[]

In [12]:
# Extracting Share 18_19
try:
    title_tags =driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title_tags:
        title.append(i.text)
except NoSuchElementException:
    title.append('NA')

In [13]:


len(title)

25

In [14]:
# Extracting URL

try:
    url_tags =driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
    for i in url_tags:
        url.append(i.get_attribute("href"))
except NoSuchElementException:
    url.append('NA')
len(url)

25

In [15]:
for i in url:
    driver.get(i)
    time.sleep(1)
    
    try:
        description_tags=driver.find_element(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p')
        description.append(description_tags.text)
    except NoSuchElementException:
        description.append('NA')

In [16]:


len(description)

25

In [17]:
for i in url:
    driver.get(i)
    time.sleep(1)
    
    try:
        count_tags=driver.find_element(By.XPATH, "//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        count.append(count_tags.text)
    except NoSuchElementException:
        count.append('NA')

In [18]:


len(count)

25

In [19]:
for i in url:
    driver.get(i)
    time.sleep(1)

    # Scraping Language
    L =[]
    try:
        language_tag =driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if language_tag:
            for j in language_tag:
                L.append(j.text)
        else:
            L.append('NA')
        language.append(L)
    except NoSuchElementException:
        language.append('NA')

In [20]:


len(language)

25

In [21]:
# Creating DataFrame for scrapped data

data_list= list(zip(title,description,count,language,url ))

data= pd.DataFrame(data_list, 
    columns =['Title', 'Description', 'Count','Language','URL'],
                  index=pd.RangeIndex(start=1, stop=26, name='Sr. No.'))

#Print the required data

print ("Details of trending repositories on Github.com:\n")
data

Details of trending repositories on Github.com:

,Title,Description,Count,Language,URL
Sr. No.,,,,,
1,dudykr / stc,Speedy TypeScript type checker,4,[Rust],https://github.com/dudykr/stc
2,charmbracelet / vhs,Your CLI home video recorder 📼,8,"[Go, Dockerfile]",https://github.com/charmbracelet/vhs
3,simeydotme / pokemon-cards-css,A collection of advanced CSS styles to create ...,2,"[Svelte, CSS, JavaScript, HTML]",https://github.com/simeydotme/pokemon-cards-css
4,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,305,"[C++, C, Objective-C++, Objective-C, GLSL, GDB]",https://github.com/ocornut/imgui
5,acmesh-official / acme.sh,A pure Unix shell script implementing ACME cli...,407,"[Shell, Dockerfile]",https://github.com/acmesh-official/acme.sh
6,mastodon / mastodon,"Your self-hosted, globally interconnected micr...",687,"[Ruby, JavaScript, SCSS, Haml, HTML, Dockerfile]",https://github.com/mastodon/mastodon
7,alvaroreis / bolsonaro2turno,Gere seu flyer personalizado com seu nome de a...,NA,"[HTML, JavaScript, CSS]",https://github.com/alvaroreis/bolsonaro2turno
8,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,126,[NA],https://github.com/ossu/computer-science
9,faridrashidi / kaggle-solutions,🏅 Collection of Kaggle Solutions and Ideas 🏅,2,[HTML],https://github.com/faridrashidi/kaggle-solutions
10,jellyfin / jellyfin,The Free Software Media System,793,[C#],https://github.com/jellyfin/jellyfin
11,shadcn / taxonomy,An open source application built using the new...,NA,"[TypeScript, JavaScript, Shell, CSS]",https://github.com/shadcn/taxonomy
12,mattermost / focalboard,"Focalboard is an open source, self-hosted alte...",228,"[TypeScript, Go, SCSS, Makefile, Swift, C#]",https://github.com/mattermost/focalboard
13,bluesky-social / atproto,A social networking technology created by Bluesky,11,"[TypeScript, JavaScript]",https://github.com/bluesky-social/atproto
14,TheAlgorithms / Rust,All Algorithms implemented in Rust,142,[Rust],https://github.com/TheAlgorithms/Rust
15,bradtraversy / 50projects50days,"50+ mini web projects using HTML, CSS & JS",35,"[CSS, HTML, JavaScript]",https://github.com/bradtraversy/50projects50days
16,folke / noice.nvim,💥 Highly experimental plugin that completely r...,8,[Lua],https://github.com/folke/noice.nvim
17,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",100,[NA],https://github.com/trimstray/the-book-of-secre...
18,AMAI-GmbH / AI-Expert-Roadmap,Roadmap to becoming an Artificial Intelligence...,9,"[JavaScript, Vue, Stylus]",https://github.com/AMAI-GmbH/AI-Expert-Roadmap
19,AmazingAng / WTF-Solidity,我最近在重新学solidity，巩固一下细节，也写一个“WTF Solidity极简入门”，...,59,[Solidity],https://github.com/AmazingAng/WTF-Solidity
20,ripienaar / free-for-dev,"A list of SaaS, PaaS and IaaS offerings that h...","1,275",[HTML],https://github.com/ripienaar/free-for-dev
21,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"4,598","[TypeScript, JavaScript, CSS, Shell, Dockerfil...",https://github.com/freeCodeCamp/freeCodeCamp
22,yyx990803 / vite-vs-next-turbo-hmr,Benchmarking Vite vs. Next + turbopack HMR per...,3,"[JavaScript, CSS, HTML]",https://github.com/yyx990803/vite-vs-next-turb...
23,PaddlePaddle / PaddleHub,Awesome pre-trained models toolkit based on Pa...,59,[Python],https://github.com/PaddlePaddle/PaddleHub
24,neovim / nvim-lspconfig,Quickstart configs for Nvim LSP,381,[Lua],https://github.com/neovim/nvim-lspconfig
25,jeecgboot / jeecg-boot,⭐️「企业级低代码平台」前后端分离架构SpringBoot 2.x，SpringCloud，...,11,"[Java, FreeMarker]",https://github.com/jeecgboot/jeecg-boot


Q 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:

A) Song name

B) Artist name

C) Last week rank 

D) Peak rank 

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [22]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [23]:
#open the page in automated chrome browser

driver.get(" https:/www.billboard.com/")
time.sleep(2)

In [24]:
# Clicking on button tab

button =driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
driver.get(button.get_attribute('href'))
time.sleep(2)

In [25]:
# Clicking on hot100 tab

hot100 =driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
driver.get(hot100.get_attribute('href'))
time.sleep(2)

In [26]:
# Creating Empty List for scrapped datas

name =[]
artist =[]
rank=[]
peak_rank =[]
weeks =[]
all_info=[]

In [27]:
# Scraping Song Name
try:
    song_tags =driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
    for i in song_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')

In [28]:


len(name)

100

In [29]:
all_info=[]
try:
    all_tags =driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/span')
    for i in all_tags:
        all_info.append(i.text)
except NoSuchElementException:
    all_info.append('NA')

In [30]:
# Scraping artist
artist= all_info[0:401:4]
len(artist)

100

In [31]:
# Scraping rank
rank= all_info[1:401:4]
len(rank)

100

In [32]:
# Scraping rank
peak_rank= all_info[2:401:4]
len(peak_rank)

100

In [33]:
# Scraping weeks
weeks= all_info[3:401:4]
len(weeks)

100

In [34]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,artist,rank,peak_rank,weeks ))

data= pd.DataFrame(data_list, 
    columns =['Song_name', 'Artist_name', 'Last_week_rank','Peak_rank','Weeks on board'],
                  index=pd.RangeIndex(start=1, stop=101, name='This_week_rank'))

#Print the required data

print ("Details of top 100 songs on billiboard.com.:\n")
data

Details of top 100 songs on billiboard.com.:

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks on board
This_week_rank,,,,,
1,Unholy,Sam Smith & Kim Petras,2,1,4
2,Bad Habit,Steve Lacy,1,1,16
3,As It Was,Harry Styles,3,1,29
4,California Breeze,Lil Baby,-,4,1
5,I Like You (A Happier Song),Post Malone Featuring Doja Cat,4,3,20
...,...,...,...,...,...
96,Static,Steve Lacy,84,78,7
97,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,79,79,9
98,Soul,Lee Brice,85,83,6
99,Forget Me,Lewis Capaldi,95,95,3
100,Good Love,City Girls & Usher,86,70,5


Q7.Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/. You have to find the following details
A) Name
B) Designation
C) Company 
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [35]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [36]:
#open the page in automated chrome browser

driver.get("https://www.naukri.com/data-science-recruiters")

In [37]:
# Creating Empty List for scrapped datas
name=[] 
designation=[] 
company=[] 
skills=[]
url=[]

In [38]:
# Scraping name
try:
    name_tags =driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')

In [39]:


len(name)

50

In [40]:
# Scraping designation
try:
    des_tags =driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
    for i in des_tags:
        designation.append(i.text)
except NoSuchElementException:
    designation.append('NA')

In [41]:


len(designation)

50

In [42]:
# Scraping company
comp=[]
try:
    com_tags =driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
    for i in com_tags:
        comp.append(i.text)
except NoSuchElementException:
    comp.append('NA')
    
for i in range(0, len(comp)):
    if i %2==1:
        company.append(comp[i])

In [43]:


len(company)

50

In [44]:


# Scraping skills
try:
    skills_tags =driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in skills_tags:
        skills.append(i.text)
except NoSuchElementException:
    skills.append('NA')

In [45]:
len(skills)

50

In [46]:
# Scraping url
try:
    url_tags =driver.find_elements(By.XPATH,'//div[@class="recImg mid_pImg_Silht"]/a')
    for i in url_tags:
        url.append(i.get_attribute("href"))
except NoSuchElementException:
    url.append('NA')

In [47]:


len(url)

50

In [48]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,designation,company,skills,url))

data= pd.DataFrame(data_list, 
    columns =['Name', 'Designation', 'Company','Skills','URL'],
                  index=pd.RangeIndex(start=1, stop=51, name='Sr No'))

#Print the required data

print ("Details of Data science recruiters from naukri.com:\n")
data

Details of Data science recruiters from naukri.com:

,Name,Designation,Company,Skills,URL
Sr No,,,,,
1,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",https://www.naukri.com/recruiters/aakashharit-...
2,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",https://www.naukri.com/recruiters/shravankumar...
3,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",https://www.naukri.com/recruiters/marsiantech?...
4,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",https://www.naukri.com/recruiters/anikagrawal-...
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",https://www.naukri.com/recruiters/LXP-DATASCIE...
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",https://www.naukri.com/recruiters/abhishekyada...
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,https://www.naukri.com/recruiters/menakav-3213...
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",https://www.naukri.com/recruiters/techvantage?...
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",https://www.naukri.com/recruiters/asiflucknowi...
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",https://www.naukri.com/recruiters/instafinanci...
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",https://www.naukri.com/recruiters/priyankaakir...
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",https://www.naukri.com/recruiters/kalpana-2078...
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",https://www.naukri.com/recruiters/mubarak-2905...
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",https://www.naukri.com/recruiters/quantmagnum?...
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",https://www.naukri.com/recruiters/maheshbabuch...
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",https://www.naukri.com/recruiters/vaishnavikud...
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",https://www.naukri.com/recruiters/kapildevang-...
18,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",https://www.naukri.com/recruiters/sakshichhika...
19,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",https://www.naukri.com/recruiters/ruchidhote?x...
20,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",https://www.naukri.com/recruiters/manishayadav...
21,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,https://www.naukri.com/recruiters/riyarajesh-4...
22,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",https://www.naukri.com/recruiters/rashmibhatta...
23,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",https://www.naukri.com/recruiters/faizankareem...
24,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",https://www.naukri.com/recruiters/rithikadadwa...
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",https://www.naukri.com/recruiters/ankitshah-21...
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",https://www.naukri.com/recruiters/shaunrao-302...
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",https://www.naukri.com/recruiters/azaharshaikh...
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",https://www.naukri.com/recruiters/manas-315903...
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",https://www.naukri.com/recruiters/kumar-337889...
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",https://www.naukri.com/recruiters/sunilvedula-...
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",https://www.naukri.com/recruiters/rajatkumar-3...
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",https://www.naukri.com/recruiters/dhruvdevdube...
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",https://www.naukri.com/recruiters/jayanthn-308...
34,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",https://www.naukri.com/recruiters/nikithapalap...
35,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",https://www.naukri.com/recruiters/sreedhar-382...
36,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,https://www.naukri.com/recruiters/priyaranjanm...
37,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",https://www.naukri.com/recruiters/priyakhare-4...
38,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",https://www.naukri.com/recruiters/amitsharma-4...
39,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",https://www.naukri.com/recruiters/deepali002g?...
40,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",https://www.naukri.com/recruiters/shashikantch...
41,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",https://www.naukri.com/recruiters/brad-4068508...
42,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",https://www.naukri.com/recruiters/rutujapawar?...
43,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",https://www.naukri.com/recruiters/madhusudhans...
44,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",https://www.naukri.com/recruiters/ankitsinha-3...
45,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",https://www.naukri.com/recruiters/gauravchouha...
46,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",https://www.naukri.com/recruiters/impel?xid=16...
47,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",https://www.naukri.com/recruiters/ashwini-3434...
48,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",https://www.naukri.com/recruiters/balajikolli-...
49,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",https://www.naukri.com/recruiters/rajaninagara...
50,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",https://www.naukri.com/recruiters/rohitkumar-3...

Q8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey%02compare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [49]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [50]:
#open the page in automated chrome browser

driver.get("  https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
time.sleep(2)

In [51]:
# Creating Empty Lists for scrapped data

book =[]
author =[]
volumes_sold =[]
publisher =[]
genre =[]

In [52]:
# Scraping Book name
try:
    book_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book_tags:
        book.append(i.text)
except NoSuchElementException:
    book.append('NA')

In [53]:


len(book)

100

In [54]:
# Scraping Book author's
try:
    author_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_tags:
        author.append(i.text)
except NoSuchElementException:
    author.append('NA')

In [55]:


len(author)

100

In [56]:
# Scraping Volumes sold
try:
    volumes_sold_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volumes_sold_tags :
        volumes_sold.append(i.text)
except NoSuchElementException:
    volumes_sold.append('NA')

In [57]:


len(volumes_sold)

100

In [58]:
# Scraping publisher
try:
    publisher_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher_tags :
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('NA')

In [59]:


len(publisher)

100

In [60]:


# Scraping genre
try:
    genre_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre_tags :
        genre.append(i.text)
except NoSuchElementException:
    genre.append('NA')

In [61]:


len(genre)

100

In [62]:
# Creating DataFrame for scrapped data

data_list= list(zip(book,author,volumes_sold,publisher,genre ))

data= pd.DataFrame(data_list, 
    columns =['Book', 'Book_ Author', 'Volumes_Sold','Publisher','Genre'],
                  index=pd.RangeIndex(start=1, stop=101, name='Rank'))

#Print the required data

print ("Details of Highest selling novels.:\n")
data

Details of Highest selling novels.:

,Book,Book_ Author,Volumes_Sold,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9.Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [63]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [64]:
#open the page in automated chrome browser

driver.get(" https://www.imdb.com/list/ls095964455/")
time.sleep(2)

In [66]:
# Creating Empty List for scrapped data

name =[]
year=[]
genre =[]
run_time =[]
ratings =[]
votes =[]

In [67]:
# Scraping Name 
try:
    name_tags =driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')
    
# Scraping Year span
try:
    year_tags =driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year_tags :
        year.append(i.text)
except NoSuchElementException:
    year.append('NA')
    
# Scraping Genre via Xpath
try:
    genre_tags =driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre_tags :
        genre.append(i.text)
except NoSuchElementException:
    genre.append('NA')
    
# Scraping Run Time 
try:
    run_time_tags =driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in run_time_tags :
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('NA')
    
# Scraping Ratings
try:
    ratings_tags =driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings_tags :
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append('NA')

# Scraping Votes
try:
    votes_tags =driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes_tags :
        votes.append(i.text)
except NoSuchElementException:
    votes.append('NA')

In [68]:


print(len(name))
print(len(genre))
print(len(year))
print(len(run_time))
print(len(ratings))
print(len(votes))

100
100
100
100
100
100

In [69]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,year,genre,run_time,ratings,votes ))

data= pd.DataFrame(data_list, 
    columns =['Name','Year span','Genre', 'Run_Time','Ratings','Votes'],
                  index=pd.RangeIndex(start=1, stop=101, name='Rank'))

#Print the required data

print ("Details of most watched tv series of all time from imdb.com. :\n")
data

Details of most watched tv series of all time from imdb.com. :

,Name,Year span,Genre,Run_Time,Ratings,Votes
Rank,,,,,,
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,075,452"
2,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,166,220"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"978,011"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"291,213"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"250,347"
...,...,...,...,...,...,...
96,Reign,(2013–2017),Drama,42 min,7.4,"49,910"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,020"
98,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"196,404"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,373"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"241,848"


Q10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the ShowAllDataset page through code

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,InvalidArgumentException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import re
import requests

import time

In [3]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [4]:
# opening site
driver.get("https://archive.ics.uci.edu/")

In [5]:
# click on all dataset
driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a').click()

In [6]:
# scraping url of dataset
url = []
for i in driver.find_elements(By.XPATH,'//b/a'):
    url.append(i.get_attribute("href"))

In [7]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []

In [ ]:
for u in url:
    driver.get(u)
    time.sleep(1)
# Extracting Dataset_name 
    try:
        dn = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[1]/tbody/tr/td[1]/p[1]/span[1]/b')      
        Dataset_name.append(dn.text)
    except NoSuchElementException:
        Dataset_name.append('-')    
# extracting Data_type
    try:
        dt = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p')
        Data_type.append(dt.text)
    except NoSuchElementException:
        Data_type.append('-')
# extracting Task
    try:
        t = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[3]/td[2]/p')
        Task.append(t.text)
    except NoSuchElementException:
        Task.append('-')  
# extracting Attribute_type
    try:
        at = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[2]/p')
        Attribute_type.append(at.text)
    except NoSuchElementException:
        Attribute_type.append('-')        
# extracting No_of_instances
    try:
        ni = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[4]/p')
        No_of_instances.append(ni.text)
    except NoSuchElementException:
        No_of_instances.append('-')       
# extracting No_of_attribute
    try:
        na = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[4]/p')
        No_of_attribute.append(na.text)
    except NoSuchElementException:
        No_of_attribute.append('-')    
# extracting Year 
    try:
        y = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[6]/p')
        Year.append(y.text)
    except NoSuchElementException:
        Year.append('-')

In [10]:
# creating dataframe 
df = pd.DataFrame({"Dataset_name":Dataset_name,"Data_type":Data_type,"Task":Task,"Attribute_type":Attribute_type,"No_of_instances":No_of_instances,"No_of_attribute":No_of_attribute,"extracting Year":Year},index=list(range(1,len(Year)+1)))
print("Datasets from UCI machine learning repositories")
df

Datasets from UCI machine learning repositories

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,extracting Year
1,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01
2,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
3,Annealing Data Set,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
4,Anonymous Microsoft Web Data Data Set,N/A,Recommender-Systems,Categorical,37711,294,1998-11-01
5,Arrhythmia Data Set,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998-01-01
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020-12-16
619,Turkish Music Emotion Dataset Data Set,Multivariate,Classification,"Integer, Real",400,50,2020-12-20
620,Maternal Health Risk Data Set Data Set,N/A,Classification,N/A,1014,7,2020-12-31
621,Room Occupancy Estimation Data Set,"Multivariate, Time-Series",Classification,Real,10129,16,2021-01-16
622,Image Recognition Task Execution Times in Mobi...,"Univariate, Sequential, Time-Series",Regression,Real,4000,2,2020-12-13