# WEB SCRAPING – ASSIGNMENT 2

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sahal\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sahal\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\sahal\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sahal\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\sahal\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: outcome in c:\users\sahal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\sahal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\sahal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\sahal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\sahal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\sahal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\sahal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\sahal\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\sahal\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sahal\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sahal\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
# Enter required designation and location for Data Analyst

designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
# lets make empty list to store data with the given conditions

job_title= []
job_location=[]
company_name=[]
experience_required=[]

In [9]:
# Scraping first 10 job title from the given page

title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    job_title.append(x)

In [10]:
# Scraping first 10 job location from the given page

location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    loc= i.text
    job_location.append(loc)

In [11]:

company_tags= driver.find_elements(By.XPATH,'//a[@ class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    x= i.text
    company_name.append(x)

In [12]:
experience_tags= driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    x= i.text
    experience_required.append(x)

In [13]:

print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [14]:
df=pd.DataFrame({'job_title':job_title,'job_location':location,'company_name':company_name,'experience_required':experience_required})

In [15]:
df

,job_title,job_location,company_name,experience_required
0,Senior Data Analyst,<selenium.webdriver.remote.webelement.WebEleme...,Latentview,3-6 Yrs
1,Data Analyst,<selenium.webdriver.remote.webelement.WebEleme...,Jar,0-4 Yrs
2,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,<selenium.webdriver.remote.webelement.WebEleme...,Cognizant,3-8 Yrs
3,Call For Clinical Data Analyst - Hyd/Bangalore...,<selenium.webdriver.remote.webelement.WebEleme...,Cognizant,6-9 Yrs
4,Payroll Transformation Data Analyst,<selenium.webdriver.remote.webelement.WebEleme...,Arrow Electronics,3-7 Yrs
5,HR Data Analyst,<selenium.webdriver.remote.webelement.WebEleme...,Hitachi Ltd.,3-6 Yrs
6,Senior Data Analyst,<selenium.webdriver.remote.webelement.WebEleme...,Klub,2-5 Yrs
7,Sr. SAP Hana Data Analyst,<selenium.webdriver.remote.webelement.WebEleme...,Anicalls,5-10 Yrs
8,Business Execution (Data and Reporting Analyst),<selenium.webdriver.remote.webelement.WebEleme...,Wells Fargo,6-11 Yrs
9,Data Analyst,<selenium.webdriver.remote.webelement.WebEleme...,"Coresight Research, Inc.",4-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [18]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [19]:
# #opening the naukri page in automated chrome browser
driver.get("https://www.naukri.com/")

In [20]:
#  Lets enter required designation and location for Data Scientist
designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [21]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [22]:
# click the search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [23]:
# lets make empty list to store data with the given conditions

job_title= []
job_location=[]
company_name=[]

In [24]:
# Scraping first 10 job title from the given page

title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    job_title.append(x)

In [25]:
# Scraping first 10 job location from the given page

location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    loc= i.text
    job_location.append(loc)

In [26]:
# Scraping first 10 company names from the given page

company_tags= driver.find_elements(By.XPATH,'//a[@ class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    x= i.text
    company_name.append(x)

In [27]:
print(len(job_title), len(job_location), len(company_name))

10 10 10

In [28]:
df=pd.DataFrame({'job_title':job_title,'job_location':location,'company_name':company_name})
df

,job_title,job_location,company_name
0,Data Science Specialist,<selenium.webdriver.remote.webelement.WebEleme...,Accenture
1,Data Science Manager,<selenium.webdriver.remote.webelement.WebEleme...,Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...",<selenium.webdriver.remote.webelement.WebEleme...,Mphasis
3,Analystics & Modeling Specialist,<selenium.webdriver.remote.webelement.WebEleme...,Accenture
4,Assistant Manager - Data Science,<selenium.webdriver.remote.webelement.WebEleme...,CitiusTech
5,Data Scientist,<selenium.webdriver.remote.webelement.WebEleme...,ZS Associates
6,Data Scientist,<selenium.webdriver.remote.webelement.WebEleme...,Tech Mahindra
7,Senior Data Scientist,<selenium.webdriver.remote.webelement.WebEleme...,Boston Consulting Group
8,Data Scientist: Artificial Intelligence,<selenium.webdriver.remote.webelement.WebEleme...,IBM
9,Data Scientist - Computer Vision,<selenium.webdriver.remote.webelement.WebEleme...,Walmart

Q3: In this question you have to scrape data using the filters available on the webpage as shown below

You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakh

In [36]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [37]:
driver.get("https://www.naukri.com/")

In [38]:
# Lets enter required designation and location for Data Scientist
designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [39]:
# clicking search

search= driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [40]:
# select location filter as “Delhi/NCR”

location_filter = driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]')
location_filter.click()

In [42]:
# select salary filter as “3-6” lakhs

salary_filter = driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]')
salary_filter.click()

In [43]:
# lets make empty list to store data with the given conditions

title= []
location=[]
company=[]

In [44]:
# Scraping first 10 job title from the given page

title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    title.append(x)

In [45]:
# Scraping first 10 job location from the given page

loc_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags[0:10]:
    x= i.text
    location.append(x)

In [46]:
# Scraping first 10 company name the given page

com_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    x= i.text
    company.append(x)

In [47]:
print(len(title), len(location), len(company))

10 10 10

In [48]:
df=pd.DataFrame({'job_title':title,'job_location':location,'company_name':company})
df

,job_title,job_location,company_name
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group
2,Data Scientist,Gurgaon/Gurugram,IHS Markit
3,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International
4,Data Scientist,Gurgaon/Gurugram,Optum
5,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring
7,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions
8,Data Scientist,Noida,NGI Ventures
9,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand
Product Description
Price The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:

1.Go to Flipkart webpage by url : https://www.flipkart.com/
2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3.After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual
4.After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5.Now scrape data from this page as usual
6.Repeat this until you get data for 100 sunglasses.

In [49]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [50]:
#Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [51]:
popup= driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")

popup.click()

In [52]:
#Lets enter “sunglasses” in the search field where “search for products, brands and more” is written

des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

des.send_keys("Sunglasses")

In [53]:
# click the search icon

search= driver.find_element(By.CLASS_NAME, "_34RNph")
search.click()

In [54]:
#Scrap the required data 1. Brand, 2. Product Description, 3. Price, 4.Discount

brand_name=[]
product_description=[]
price=[]

In [55]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=1
end=4
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    next_button.click()
    time.sleep(8)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [57]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [58]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=1
end=4
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [59]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [60]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        x= i.text
        price.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [61]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [62]:
#checking the length

print (len(Top100_brand_name), len(Top100_product_description), len(Top100_price))

100 100 100

In [63]:
# Creating DataFrame to scrap first 10 data

data_list= list(zip(Top100_brand_name, Top100_product_description, Top100_price))

data= pd.DataFrame(data_list, 
    columns =['Brand_Name', 'Product Description', 'Price'],
    index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'))

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 sunglasses listings on flipkart.com:\n")
data

First 100 sunglasses listings on flipkart.com:

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:

First get the webpage https://www.flipkart.com/
Enter “iphone 11” in “Search” field .
Then click the search button. You will reach to the below shown webpage . As shown in the above page you have to scrape the tick marked attributes.These are:
Rating
Review summary
Full review
You have to scrape this data for first 100 reviews.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#Lets first connect to the driver

#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [3]:
#Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [4]:
# close the popup window

popup_close = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
popup_close.click()

In [7]:
# lets Enter “iphone 11” in “Search” field

des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
des.send_keys("iphone 11")

In [8]:
#click on search 

search= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [9]:
#click the first results from all iphone 11 data

click_first = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]')
click_first.click()

In [10]:
# as the result open up in new tab of the browser we need to go that tab

driver.switch_to.window(driver.window_handles[1])

In [11]:
#clicking on the all reviews button

all_rev = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div/span')
all_rev.click()

In [12]:
#Scrap the required data Rating, Review summary, Full review

ratings=[]
review_summary=[]
full_review=[]

In [13]:
# Scraping first 100 Ratings the given page

start = 0 #starting page
end = 10 # page number to end scaping


for page in range(start,end):
    
    #scrape the ratings
    
    rating_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        x= i.text
        ratings.append(x)
        
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [14]:
len(ratings)

100

In [15]:
# Scraping first 100 Review summary the given page

start = 0 #starting page
end = 10 # page number to end scaping


for page in range(start,end):
    
    # scrape the review summaries
    
    review_sum_tags = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_sum_tags:
        x= i.text
        review_summary.append(x)    
    
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [16]:
len(review_summary)

100

In [18]:
# Scraping first 100 full review the given page

start = 0 #starting page
end = 10 # page number to end scraping


for page in range(start,end):
    
    # scrape the full reviews
    
    full_review_tags = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tags:
        x= i.text
        full_review.append(x.replace("\n"," "))
        
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [19]:
len(full_review)

110

In [20]:
# Creating DataFrame to scrap first 10 data

data_list= list(zip(ratings, review_summary, full_review))

data= pd.DataFrame(data_list,
    columns =['Ratings', 'Review Summary', 'Full Summary'],
    index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'))

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 reviews data from flipkart.com for iphone11 phone:\n")
data

First 100 reviews data from flipkart.com for iphone11 phone:

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

Brand
Product Description
Price As shown in the below image, you have to scrape the tick marked attributes

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [4]:
#Lets first connect to the driver

#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [5]:
#Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [6]:
# close the popup window

popup= driver.find_element(By.XPATH, "/html/body/div[2]/div/div/button")
popup.click()

In [7]:
# lets Enter “iphone 11” in “Search” field

des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

des.send_keys("sneakers")

In [8]:
des.send_keys("sneakers")

#click on search button

search= driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [9]:
#Scrap the required data Brand, Product Description, Price, Discount (as shown in the given picture)

brand_name=[]
product_description=[]
price=[]
discount=[]

In [10]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
    
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [11]:
len(brand_name)

120

In [12]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [13]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
        
    
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [14]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [15]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        x= i.text
        price.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [16]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [17]:
# Scraping first 100 Discount from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in price_tags:
        x= i.text
        discount.append(x) 
        
    # Go to the “Next” Button at the bottom other page and scrap data
     
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_discount = discount[0:100] #Top 100 data

In [18]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [19]:
# Creating DataFrame of first 100 scrapped data

list_data= list(zip(Top100_brand_name, Top100_product_description, Top100_price, Top100_discount))

data= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'),
        columns =['Brand_Name','Product Description', 'Price', 'Discount'])

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 sneakers data from Flipkart is:\n")
data

First 100 sneakers data from Flipkart is:

Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [20]:
#Lets first connect to the driver

#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [21]:
#Go to Flipkart webpage by url: https://www.myntra.com/shoes

driver.get(" https://www.myntra.com/shoes")

In [22]:
#apply second price filter 

price_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [23]:
#apply Color filter to “Black”

color_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter.click()

In [24]:
#Scrap the required data Brand, Product Description, Price

brand_name=[]
product_description=[]
price=[]

In [25]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [26]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
prev_button.click()

In [27]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
        
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [28]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
prev_button.click()

In [29]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price_tags:
        x= i.text
        price.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [30]:
print(len(Top100_brand_name), len(Top100_product_description), len(Top100_price))

100 100 100

In [33]:
# Creating DataFrame of first 100 scrapped data

list_data= list(zip(Top100_brand_name, Top100_product_description, Top100_price))

data= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'),
        columns =['Brand_Name','Product Description', 'Price'])

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 sneakers data from Flipkart is:\n")
data

First 100 sneakers data from Flipkart is:

#Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7”

In [34]:
#Lets first connect to the driver

#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\sahal\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [35]:
#Go to Flipkart webpage by url: https://www.amazon.in/

driver.get("https://www.amazon.in/")

In [36]:
# Lets enter Laptop in the search field and then click the search icon.

des= driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
des.send_keys("Laptop")

In [37]:
# click the search button

search= driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [38]:
# select cpu filter

cpu_filter_i7 = driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
cpu_filter_i7.click()

In [39]:
#Scrap the required data

title=[]
ratings=[]
price=[]

In [40]:
#title of the laptops

#title_tags= driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
title_tags = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags[0:10]:
    x= i.text
    title.append(x)
title

['ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FHD OLED, Intel EVO Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/1TB SSD/Iris Xe Graphics/Windows 11/Office 2021/Mist/1.14 kg), UX325EA-KG701WS',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 14 inches FHD IPS 2-in-1 Touchscreen Business Laptop (16GB/512GB SSD/Windows 10/MS Office/Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN',
 'Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 16"(40.64cm) WUXGA IPS 165Hz Gaming Laptop (16GB/512GB SSD/Win 11/Office 2021/NVIDIA RTX 3060 6GB/Alexa/3 Month Game Pass/Onyx Grey/2.6Kg),82SA00B2IN',
 'ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 kg), FX577ZE-HN056W',
 '(Renewed) Lenovo Intel Core i7 5600U 12.5-Inch (31.75 cms) HD (1366 X 768) Laptop (8 GB/256 GB SSD/Windows 10/Intel HD 5500//1.53 Kg), Lenovo X250']

In [41]:
#ratings 
rating_tags=driver.find_elements(By.XPATH,"//a[@class='a-popover-trigger a-declarative']")

for i in rating_tags[0:10]:
    if i.text is None:
        ratings.append("--")
    else:
        ratings.append(i.get_attribute("text"))

In [42]:
#prices of the laptops

price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    x= i.text
    price.append(x)

In [43]:
# Creating DataFrame of first 10 scrapped data

list_data= list(zip(title, ratings, price))

data= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=11, name='Sr. No.'),
        columns =['Title_of_Laptop', 'Ratings', 'Price'])

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 10 laptop's data from Amazon is:\n\n")
data

First 10 laptop's data from Amazon is: